* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ffeaf4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #ff8aa0;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.container {
    flex: 1;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 150px;
}

.collection {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collection img {
    width: 100%; 
    height: 45vh; 
    object-fit: fill; 
    border-bottom: 1px solid #555;
    margin-bottom: 1rem;
}

.collection h2 {
    font-size: 1.8rem;
    color: #ff8aa0;
    margin-bottom: 0.5rem;
}

.collection p {
    color: #555;
    margin-bottom: 1rem;
}

.collection button {
    background: #ff8aa0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.collection button:hover {
    background: #ff6f87;
}

.collection:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background: #ff8aa0;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
}

footer .social-media a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 1rem; /* Reducir el espacio entre elementos */
    }

    .collection img {
        height: 50vh; /* Reducir altura en móviles */
        object-fit: cover; /* Cambiar a cover para mejor visualización */
    }

    header h1 {
        font-size: 1.5rem; /* Reducir tamaño de título */
    }

    main {
        padding: 0.5rem; /* Reducir padding */
    }
}